---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/main/_quick-infos.html" %}
	{% include "partials/main/_slider.html" %}
	{% include "partials/main/_holiday-day.html" %}
	{% include "partials/main/_new-collections.html" %}
	{% include "partials/main/_articles.html" %}
	{% include "partials/main/_posts.html" %}
	{% include "partials/main/_interior-day.html" %}
	{% include "partials/main/_about.html" %}
	{% include "partials/main/_joinus.html" %}

{% endblock %}
