---
title: home-registration-phone
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/main/_quick-infos.html" %}
	{% include "partials/main/_slider.html" %}
	{% include "partials/main/_holiday-day.html" %}
	{% include "partials/main/_new-collections.html" %}
	{% include "partials/main/_articles.html" %}
	{% include "partials/main/_posts.html" %}
	{% include "partials/main/_interior-day.html" %}
	{% include "partials/main/_about.html" %}
	{% include "partials/main/_joinus.html" %}
	<!-- begin modal -->
	<div class="modal is-open" data-modal="registration-phone">
		<div class="modal__container" data-modal-container>
			<form action="/" class="modal__form form">
				<div class="modal__title">Регистрация</div>
				<div class="form__text">На указанный номер телефона поступит звонок. Введите последние 6 цифр номера, чтобы начать получать привилегии члена</div>
				<div class="reg-number">
					<span class="reg-number__text">+ 7 ( * * * ) * </span>
					<input type="text" class="input reg-number__input js-input-number" maxlength="1" data-validation="required" data-validation-event="keyup change" data-inputmask="'mask': '9'" data-inputmask-placeholder="">
					<input type="text" class="input reg-number__input js-input-number" maxlength="1" data-validation="required" data-validation-event="keyup change" data-inputmask="'mask': '9'" data-inputmask-placeholder="">
					<input type="text" class="input reg-number__input js-input-number" maxlength="1" data-validation="required" data-validation-event="keyup change" data-inputmask="'mask': '9'" data-inputmask-placeholder="">
					<input type="text" class="input reg-number__input js-input-number" maxlength="1" data-validation="required" data-validation-event="keyup change" data-inputmask="'mask': '9'" data-inputmask-placeholder="">
					<input type="text" class="input reg-number__input js-input-number" maxlength="1" data-validation="required" data-validation-event="keyup change" data-inputmask="'mask': '9'" data-inputmask-placeholder="">
					<input type="text" class="input reg-number__input js-input-number" maxlength="1" data-validation="required" data-validation-event="keyup change" data-inputmask="'mask': '9'" data-inputmask-placeholder="">
				</div>
				<div class="form-control">
					<button class="btn btn_full" type="submit" disabled>ЗАРЕГИСТРИРОВАТЬСЯ</button>
				</div>
				<div class="form-footer form-footer_lg"><a href="#" class="link">Перезвонить еще раз</a></div>
			</form>
		</div>
	</div>
	<!-- end modal -->

{% endblock %}