--- title: Basket ---

{% import "data/data.html" as data %}
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="inner">
		{{ mixins.breadcrumbs({

			list: ['Назад','Главная','Журнал','Заголовок статьи, желательно, чтобы это были две или одна строчки']
		}) }}
		<div class="magazine-article">
			{{ mixins.magazineTop({
				title: "Заголовок статьи, желательно, чтобы это были две или одна строчки",
				text: "Здесь будет текст, который служит подзаголовком к статье, желательно, чтобы это были две–три строчки, как выжимка из последующих слов в статье",
				tags: [
					{
						class: 'tag_orange',
						text: 'ДОБРОЕ УТРО'
					},
					{
						class: 'tag_green',
						text: 'РЕЦЕПТЫ'
					}
				]
			}) }}
			{{ mixins.magazineImg("penchant-styled-542047-unsplash.jpg", true,true) }}
				{{ mixins.magazineParagraph({
					subtitle: "Подзаголовок внутри статьи из нескольких слов",
					text: ["Но высококачественный прототип будущего проекта требует определения и уточнения анализа 
					существующих паттернов поведения. В рамках спецификации современных стандартов, сделанные 
					на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и указаны как 
					претенденты на роль ключевых факторов. И нет сомнений, что сторонники тоталитаризма в науке 
					могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу 
					обществу."]
				}) }}
			<div class="magazine-photos">
				<div class="row magazine-photos__row">
					<div class="col col-42 col-md-100 magazine-photos__col">
						{{ mixins.magazineImg("organic-bowl-2262914_1920.jpg",true) }}
					</div>
					<div class="col col-50 col-md-100 magazine-photos__col magazine-photos__col_right">
						{{ mixins.magazineImg("freestocks-org-596380-unsplash.jpg",true) }}
					</div>
				</div>
			</div>
			{{ mixins.magazineParagraph({
				subtitle: "Подзаголовок внутри статьи из нескольких слов",
				text: ["Но высококачественный прототип будущего проекта требует определения и уточнения анализа 
				существующих паттернов поведения. В рамках спецификации современных стандартов, сделанные 
				на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и указаны как 
				претенденты на роль ключевых факторов. И нет сомнений, что сторонники тоталитаризма в науке 
				могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу 
				обществу."]
			}) }}
			<div class="magazine-slider js-magazine-slider-parent">
				<div class="magazine-slider__wrap">
					<button class="magazine-slider__prev js-magazine-slider-prev">
						{{ mixins.icon('arrow-left') }}
					</button>
					<button class="magazine-slider__next js-magazine-slider-next">
						{{ mixins.icon('arrow-right') }}
					</button>
					<div class="magazine-slider__inner js-magazine-slider">
						{% for slide in [
							{
								img: "food-2203732_1920.jpg"
							},
							{
								img: "food-2203732_1920.jpg"
							},
							{
								img: "food-2203732_1920.jpg"
							}
							] %}
						<div class="magazine-slider__slide">
							{{ mixins.magazineImg(slide.img,true) }}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{{ mixins.magazineParagraph({
				subtitle: "Подзаголовок внутри статьи из нескольких слов",
				text: ["Лишь независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, 
				преданы социально-демократической анафеме. Равным образом, реализация намеченных плановых 
				заданий создает необходимость включения в производственный план целого ряда внеочередных 
				мероприятий с учетом комплекса распределения внутренних резервов и ресурсов. Банальные, но 
				неопровержимые выводы, а также сделанные на базе интернет-аналитики выводы являются только 
				методом политического участия и рассмотрены исключительно в разрезе маркетинговых и 
				финансовых предпосылок. Современные технологии достигли такого уровня, что сложившаяся 
				структура организации создает необходимость включения в производственный план целого ряда 
				внеочередных мероприятий с учетом комплекса вывода текущих активов.
				",
				"Безусловно, семантический разбор внешних противодействий предполагает независимые способы 
				реализации вывода текущих активов. Значимость этих проблем настолько очевидна, что 
				консультация с широким активом способствует повышению качества соответствующих условий 
				активизации. Противоположная точка зрения подразумевает, что диаграммы связей ограничены 
				исключительно образом мышления. Как принято считать, тщательные исследования конкурентов 
				смешаны с неуникальными данными до степени совершенной неузнаваемости, из-за чего возрастает 
				их статус бесполезности."]
			}) }}
		</div>
	</div>
	<div class="inner-sm">
		{{ mixins.magazineImg("deborah-diem-541104-unsplash.jpg",true) }}
		{{ mixins.magazineBottom({
			tags: [
					{
						class: 'tag_orange',
						text: 'ДОБРОЕ УТРО'
					},
					{
						class: 'tag_green',
						text: 'РЕЦЕПТЫ'
					}
				]
		}) }}
	</div>
	{{ mixins.magazineFooter() }}
	<div class="inner">
		{{ mixins.similarArticle({
			title: "Похожие статьи",
			articles: [
			{
				img: "businesswoman-call-career-789822@2x.png",
				tags: [
					{
						text: 'РАБОТА'
					}
				],
				title: "Заголовок статьи, 
				желательно, чтобы это были 
				две–три строчки",
				text: "Здесь будет две строчки текста, который является подзаголовком к статье..."
			},
			{
				img: "rodolfo-sanches-carvalho-1.jpg",
				tags: [
					{
						class: 'tag_orange',
						text: 'РАЗВЛЕЧЕНИЯ'
					},
					{
						class: 'tag_orange',
						text: 'ТЕСТЫ'
					}
				],
				title: "Заголовок статьи, 
				желательно, чтобы это были 
				две–три строчки",
				text: "Здесь будет две строчки текста, который является подзаголовком к статье..."
			},
			{
				img: "kristina-m-m-156472-unsplash.jpg",
				tags: [
					{
						class: 'tag_green',
						text: 'САД & ОГОРОД'
					}
				],
				title: "Заголовок статьи, 
				желательно, чтобы это были 
				две–три строчки",
				text: "Здесь будет две строчки текста, который является подзаголовком к статье..."
			}]
			}
			) }}
	</div>
			<!-- begin reviews -->
			<div class="reviews reviews_article">
				<div class="reviews__inner inner-sm">
					<h3 class="reviews__title title-simple">Комментарии <span class="quantity">3</span></h3>
					<div class="reviews__input">
						<input type="text" placeholder="Написать комментарий...">
					</div>
				</div>
				<div class="reviews-filter">
					<div class="reviews-filter__head">
						<div class="reviews-filter__inner inner inner_push-left">
							<div class="reviews-filter__left">
								<div class="reviews-filter__toggler">
									{{ mixins.checkbox('С фото',null,true) }}
								</div>
								<div class="reviews-filter__drop">
									<div class="reviews-filter__select-text">Сортировать:</div>
									<div class="reviews-filter__select">
										<select class="select select_bord js-select" data-width="214px">
										    <option value="По дате">По дате</option>
										    <option value="text 1">text 1</option>
										    <option value="text 2">text 2</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="reviews__inner inner-sm">
					<div class="reviews__wrap">
						<!-- begin review -->
						<div class="review">
							<div class="review__wrap">
								<div class="review__head">
									<div class="review__name">Анна</div>
									<div class="review__date">21 мая в 12:45</div>
								</div>
								<p>Равным образом, выбранный нами инновационный путь требует определения и уточнения направлений прогрессивного развития.</p>
								<div class="review__footer">
									<button class="btn-text" type="button">Ответить</button>
									<div class="review__likes likes is-positive">
										<button class="likes__btn" type="button">{{ mixins.icon('thumb-up-outline') }}</button>
										<div class="likes__size">5</div>
										<button class="likes__btn" type="button">{{ mixins.icon('thumb-down-outline') }}</button>
									</div>
								</div>
								<div class="review__attached">
									<div class="review__attached-wrap">
										<div class="review__img"><img src="./img/apples-birdcage-bowl-724643@2x.jpg" alt="review-img"></div>
									</div>
								</div>
							</div>
							<!-- begin review -->
							<div class="review">
								<div class="review__wrap">
									<div class="review__head">
										<div class="review__name">Мария</div>
										<div class="review__date">21 мая в 13:05</div>
										<button class="review__reply" type="button">{{ mixins.icon('reply') }}Анне</button>
									</div>
									<p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности не дает нам иного выбора, кроме определения </p>
									<div class="review__footer">
										<button class="btn-text" type="button">Ответить</button>
										<div class="review__likes likes">
											<button class="likes__btn" type="button">{{ mixins.icon('thumb-up-outline') }}</button>
											<div class="likes__size">0</div>
											<button class="likes__btn" type="button">{{ mixins.icon('thumb-down-outline') }}</button>
										</div>
									</div>
								</div>
							</div>
							<!-- end review -->
						</div>
						<!-- end review -->
						<!-- begin review -->
						<div class="review">
							<div class="review__wrap">
								<div class="review__head">
									<div class="review__name">Лиза</div>
									<div class="review__date">25 мая в 9:48</div>
								</div>
								<p>Для современного мира повышение уровня гражданского сознания обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям.</p>
								<div class="review__footer">
									<button class="btn-text" type="button">Ответить</button>
									<div class="review__likes likes is-negative">
										<button class="likes__btn" type="button">{{ mixins.icon('thumb-up-outline') }}</button>
										<div class="likes__size">-1</div>
										<button class="likes__btn" type="button">{{ mixins.icon('thumb-down-outline') }}</button>
									</div>
								</div>
								<div class="review__attached">
									<div class="review__attached-wrap">
										<div class="review__img"><img src="./img/girl-1561943_1920@2x.jpg" alt="review-img"></div>
										<div class="review__img"><img src="./img/gift-2655558_1920@2x.jpg" alt="review-img"></div>
										<div class="review__img"><img src="./img/flower-3201719_1920@2x.jpg" alt="review-img"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- end review -->
					</div>
				</div>
			</div>
			<!-- end reviews -->
{% endblock %}