--- title: personal-account-information ---

{% extends "layouts/_layout.html" %}

{% block content %}
    <div class="inner">
        {{ mixins.breadcrumbs({
            list: ['Назад','Главная','Профиль']
        }) }}
        <div class="cabinet">
            {{ mixins.theadsimple({ title: 'Добро пожаловать в ваш профиль, Анна' }) }}
            <div class="cabinet__row row">
                <div class="cabinet__col col col-25 col-md-100">
                    <!-- begin sidebar -->
                    <div class="sidebar sidebar_cabinet js-nav-links">
                        <div class="sidebar sidebar_cabinet js-nav-links">
                            {{ mixins.cabinetList({ active: 3, currentText: "История покупок" }) }}
                        </div>
                    </div>
                    <!-- end sidebar -->
                </div>
                <div class="cabinet__col col col-75 col-md-100">
                    {# {{ mixins.theadsimple({ product: '1 товар' }) }} #}
                    <h3 class="title-simple cabinet__title">История покупок</h3>
                    <div class="tabs tabs_shopping" data-tabs="data-tabs">
                        <div class="tabs__out">
                            <div class="tabs__current" data-tabs-current="data-tabs-current">
                                <span></span></div>
                            <ul class="tabs__list inner">
                                {% for item in [
                                        {
                                            id: 'shop-online',
                                            text: 'Покупки на сайте',
                                            quantity: '2'
                                        },
                                        {
                                            id: 'shop-offline',
                                            text: 'Покупки в магазине ',
                                            quantity: '2'
                                        }
                                        ] %}
                                    <li class="tabs__item" data-tabs-control="{{ item.id }}">
                                        {{ item.text }}
                                        {% if item.quantity %}
                                            <span class="tabs__quantity">{{ item.quantity }}</span>{% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tabs__wrap" data-tabs-wrapper="data-tabs-wrapper">
                            <div class="tabs__container" data-tabs-container="shop-online">
                                <div class="tabs__inner">
                                    {{mixins.shoppingCard({
                                            number: '№ 45765',
                                            price: '6000 ₽',
                                            time: '21 мая 2018, 12:45', 
                                            previews: [
                                                {
                                                    image: 'vase-1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'bar.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'annie-spratt.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_2.jpg',
                                                    link: '#'
                                                }
                                            ],
                                            anotherItems: {
                                                number: '1',
                                                link: '#'
                                            },
                                            itemsNumber: 6,
                                            online: true, 
                                            cards:
                                            [
                                                {
                                                    img: 'vase-1.jpg'
                                                },
                                                {
                                                    img: 'elephant_1.jpg'
                                                },
                                                {
                                                    img: 'bar.jpg'
                                                },
                                                {
                                                    img: 'annie-spratt.jpg'
                                                },
                                                {
                                                    img: 'elephant_2.jpg'
                                                },
                                                {
                                                    img: 'vase-4.jpg'
                                                }
                                            ],
                                             ddTitle: '6 товаров',
                                            info: [
                                                { 
                                                    header: 'Получатель',
                                                    content: 'Анна'
                                                },
                                                { 
                                                    header: 'Телефон',
                                                    content: '+7 (961) 678 – 87 – 56'
                                                },
                                                { 
                                                    header: 'Email',
                                                    content: 'не указан',
                                                    modifier: 'shopping-info__content_empty'
                                                },
                                                { 
                                                    header: 'Способ получения',
                                                    content: 'Самовывоз'
                                                },
                                                { 
                                                    header: 'Адрес магазина',
                                                    content: '70 лет Октября, 25 к.2, Континент 2 '
                                                },
                                                { 
                                                    header: 'Дата самовывоза',
                                                    content: 'с 12 июня 2018, 17:00 до 12 июля 2018, 21:00',
                                                    info: true
                                                },
                                                { 
                                                    header: 'Способ оплаты',
                                                    content: 'Наличными или банковской картой при получении'
                                                }
                                             ]
                                        })}}
                                    {{mixins.shoppingCard({
                                            number: '№ 45765',
                                            price: '6000 ₽',
                                            time: '21 мая 2018, 12:45', 
                                            previews: [
                                                {
                                                    image: 'vase-1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'bar.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'annie-spratt.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_2.jpg',
                                                    link: '#'
                                                }
                                            ],
                                            anotherItems: {
                                                number: '1',
                                                link: '#'
                                            },
                                            itemsNumber: 6,
                                            online: true, 
                                            cards:
                                            [
                                                {
                                                    img: 'vase-1.jpg'
                                                },
                                                {
                                                    img: 'elephant_1.jpg'
                                                },
                                                {
                                                    img: 'bar.jpg'
                                                },
                                                {
                                                    img: 'annie-spratt.jpg'
                                                },
                                                {
                                                    img: 'elephant_2.jpg'
                                                },
                                                {
                                                    img: 'vase-4.jpg'
                                                }
                                            ], 
                                            ddTitle: '6 товаров',
                                            info: [
                                                { 
                                                    header: 'Получатель',
                                                    content: 'Анна'
                                                },
                                                { 
                                                    header: 'Телефон',
                                                    content: '+7 (961) 678 – 87 – 56'
                                                },
                                                { 
                                                    header: 'Email',
                                                    content: 'не указан',
                                                    modifier: 'shopping-info__content_empty'
                                                },
                                                { 
                                                    header: 'Способ получения',
                                                    content: 'Самовывоз'
                                                },
                                                { 
                                                    header: 'Адрес магазина',
                                                    content: '70 лет Октября, 25 к.2, Континент 2 '
                                                },
                                                { 
                                                    header: 'Дата самовывоза',
                                                    content: 'с 12 июня 2018, 17:00 до 12 июля 2018, 21:00',
                                                    info: true
                                                },
                                                { 
                                                    header: 'Способ оплаты',
                                                    content: 'Наличными или банковской картой при получении'
                                                }
                                             ]
                                        })}}
                                </div>
                            </div>
                            <div class="tabs__wrap" data-tabs-wrapper="data-tabs-wrapper">
                                <div class="tabs__container" data-tabs-container="shop-offline">
                                    {{mixins.shoppingCard({
                                            number: '№ 45765',
                                            price: '6000 ₽',
                                            time: '21 мая 2018, 12:45', 
                                            previews: [
                                                {
                                                    image: 'vase-1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'bar.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'annie-spratt.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_2.jpg',
                                                    link: '#'
                                                }
                                            ],
                                            anotherItems: {
                                                number: '1',
                                                link: '#'
                                            },
                                            itemsNumber: 6,
                                            cards:
                                            [
                                                {
                                                    img: 'vase-1.jpg'
                                                },
                                                {
                                                    img: 'elephant_1.jpg'
                                                },
                                                {
                                                    img: 'bar.jpg'
                                                },
                                                {
                                                    img: 'annie-spratt.jpg'
                                                },
                                                {
                                                    img: 'elephant_2.jpg'
                                                },
                                                {
                                                    img: 'vase-4.jpg'
                                                }
                                            ], 
                                            ddTitle: '6 товаров',
                                            info: [
                                                { 
                                                    header: 'Получатель',
                                                    content: 'Анна'
                                                },
                                                { 
                                                    header: 'Телефон',
                                                    content: '+7 (961) 678 – 87 – 56'
                                                },
                                                { 
                                                    header: 'Email',
                                                    content: 'не указан',
                                                    modifier: 'shopping-info__content_empty'
                                                },
                                                { 
                                                    header: 'Способ получения',
                                                    content: 'Самовывоз'
                                                },
                                                { 
                                                    header: 'Адрес магазина',
                                                    content: '70 лет Октября, 25 к.2, Континент 2 '
                                                },
                                                { 
                                                    header: 'Дата самовывоза',
                                                    content: 'с 12 июня 2018, 17:00 до 12 июля 2018, 21:00',
                                                    info: true
                                                },
                                                { 
                                                    header: 'Способ оплаты',
                                                    content: 'Наличными или банковской картой при получении'
                                                }
                                             ]
                                        })}}
                                    {{mixins.shoppingCard({
                                            number: '№ 45765',
                                            price: '6000 ₽',
                                            time: '21 мая 2018, 12:45', 
                                            previews: [
                                                {
                                                    image: 'annie-spratt.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'vase-1.jpg',
                                                    link: '#'
                                                },
                                                {
                                                    image: 'elephant_1.jpg',
                                                    link: '#'
                                                }
                                            ],
                                            itemsNumber: 3,
                                            cards:
                                            [
                                                {
                                                    img: 'annie-spratt.jpg'
                                                },
                                                {
                                                    img: 'vase-1.jpg'
                                                },
                                                {
                                                    img: 'elephant_1.jpg'
                                                }
                                            ], 
                                            ddTitle: '3 товара',
                                            info: [
                                                { 
                                                    header: 'Получатель',
                                                    content: 'Анна'
                                                },
                                                { 
                                                    header: 'Телефон',
                                                    content: '+7 (961) 678 – 87 – 56'
                                                },
                                                { 
                                                    header: 'Email',
                                                    content: 'не указан',
                                                    modifier: 'shopping-info__content_empty'
                                                },
                                                { 
                                                    header: 'Способ получения',
                                                    content: 'Самовывоз'
                                                },
                                                { 
                                                    header: 'Адрес магазина',
                                                    content: '70 лет Октября, 25 к.2, Континент 2 '
                                                },
                                                { 
                                                    header: 'Дата самовывоза',
                                                    content: 'с 12 июня 2018, 17:00 до 12 июля 2018, 21:00',
                                                    info: true
                                                },
                                                { 
                                                    header: 'Способ оплаты',
                                                    content: 'Наличными или банковской картой при получении'
                                                }
                                             ]
                                        })}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}