--- title: UI ---
{% extends "layouts/_layout.html" %}
{% block content %}

	<div class="inner">
		<div class="row" style="margin-top: 20px;">
			{% for slide in [ { img: "art-background-beautiful.png", title: "Уникальные светильники", text: "Наши светильники поразят
		своим необычным внешним видом и привнесут " }, { img: "sudhith-xavier.png", title: "Ретро-центры", text: "Ретро снова в
		моде! Не оставайтесь в стороне от уникальной возможности " } ] %}
				<div class="col col-50">
					<!-- begin holiday -->
					<div class="holiday">
						<div class="holiday__img">
							<img src="./img/{{slide.img}}" alt="img">
						</div>
						<div class="holiday__wrap">
							<div class="holiday__title title-sm">{{slide.title}}</div>
							<p>{{slide.text}}</p>
						</div>
					</div>
					<!-- end holiday -->
				</div>
			{% endfor %}
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-100">
				<div class="tags">
					{% for tagClass in[
						'',
						'orange',
						'black',
						'red',
						'yellow',
						'beige',
						'purple',
						'turquoise',
						'green',
						'gallery',
						'gray'
					] %}
						<a href="#" class="tag tag_{{ tagClass }}">text</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			{% for cardcatalog in [ 
				{ 
					img: "amethyst-1920@2x.jpg", 
					title: "Изделия из натуральных камней" 
				}, 
				{ 
					img: "thumb_cover_header@2x.jpg",
					title: "Муранское стекло" 
				}, 
				{ 
					img: "nav-img@2x.jpg", 
					title: "Предметы интерьера" 
				} ] %}
				<div class="col col-33">
					{{ mixins.cardcatalog({ img: cardcatalog.img, title: cardcatalog.title }) }}
				</div>
			{% endfor %}
		</div>
		<div class="cardcollection" style="margin-top: 20px;">
			{{ mixins.cardcollection({ 
				img: "derek-story-unsplash@2x.jpg", 
				title: "Коллекция Восточные сказки", 
				icon: "mixins.icon('arrow-right')"
			}) }}
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-50">
                {{ mixins.cardarticle({ 
					img: "pexels-photo-698171@2x.jpg", 
					title: "Заголовок статьи, желательно, чтобы это были две–три строчки" 
				}) }}
            </div>
        </div>
        <div class="block" style="margin-top: 20px;">
            <!--Start slider-products -->
            {% include "partials/product-card/_slider-products.html" %}
            <!-- End slider-products-->
        </div>
        <div class="block" style="margin-top: 20px;">
            <!--Start slider-you-watched -->
            {% include "partials/catalog/_slider-you-watched.html" %}
            <!-- End slider-you-watched-->
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <div class="title text-center">FORM ITEMS</div>
                <a class="link" href="https://developer.snapappointments.com/bootstrap-select/examples/">bootstrap-select LINK</a>
                <p>simple</p>
                <select class="select js-select" data-width="100%">
                    <option value="Cначала новинки">Cначала новинки</option>
                    <option value="Цена по возрастанию">Цена по возрастанию</option>
                    <option value="Цена по убыванию">Цена по убыванию</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <p>simple border</p>
                <select class="select select_bord js-select" data-width="100%">
                    <option value="Cначала новинки">Cначала новинки</option>
                    <option value="Цена по возрастанию">Цена по возрастанию</option>
                    <option value="Цена по убыванию">Цена по убыванию</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <p>multiple</p>
                <select class="select js-select" data-width="100%" multiple="multiple">
                    <option value="Cначала новинки">Cначала новинки</option>
                    <option value="Цена по возрастанию">Цена по возрастанию</option>
                    <option value="Цена по убыванию">Цена по убыванию</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <p>multiple + actions</p>
                <select class="select js-select" data-width="100%" multiple="multiple" data-actions-box="true" data-actions-selected-all-text="Выбрано" data-actions-deselected-all-text="Все" title="Наличие в магазинах">
                    <option value="Cначала новинки">Cначала новинки</option>
                    <option value="Цена по возрастанию">Цена по возрастанию</option>
                    <option value="ул.Карла Маркса, 84 (Привокзальный)">ул.Карла Маркса, 84 (Привокзальный)</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <p>multiple/color/text-format-count</p>
                <select class="select select_color js-select" data-width="101" multiple="multiple" title="Цвет" data-selected-text-format="count" data-count-selected-text="{0} с {1}" data-actions-box="true" data-actions-selected-all-text="Выбрано" data-actions-deselected-all-text="Все">
                    <option value="#FBC55A" data-icon="icon-color icon-color-yellow">Желтый / Золотой</option>
                    <option value="#E6CDA9" data-icon="icon-color icon-color-brown">Бежевый / Коричневый</option>
                    <option value="#FF7043" data-icon="icon-color icon-color-orange">Оранжевый</option>
                    <option value="#E61739" data-icon="icon-color icon-color-red">Красный</option>
                    <option value="#7A43DA" data-icon="icon-color icon-color-purple">Фиолетовый / Пурпурный</option>
                    <option value="#2371CB" data-icon="icon-color icon-color-blue">Синий</option>
                    <option value="#16B9C5" data-icon="icon-color icon-color-turquoise">Бирюзовый</option>
                    <option value="#23B684" data-icon="icon-color icon-color-green">Зеленый</option>
                    <option value="multiple" data-icon="icon-color icon-color-multiple">Мультиколор</option>
                    <option value="#272727" data-icon="icon-color icon-color-black">Черный</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <p>multiple + actions + subtext</p>
                <select class="select js-select select_bord" data-width="100%" multiple="multiple" data-actions-box="true" data-actions-selected-all-text="Выбрано" data-actions-deselected-all-text="Все" title="Категория товара">
                    <option value="Вазы" data-subtext="321">Вазы</option>
                    <option value="Музыкальные ретро центры, ретро телефоны" data-subtext="19">Музыкальные ретро центры, ретро телефоны</option>
                    <option value="Картины, декоративные тарелки" data-subtext="24">Картины, декоративные тарелки</option>
                    <option value="Фоторамки" data-subtext="11">Фоторамки</option>
                    <option value="Подсвечники" data-subtext="21">Подсвечники</option>
                    <option value="Фонтаны" data-subtext="8">Фонтаны</option>
                    <option value="Шкатулки, книги-сейфы, ключницы" data-subtext="45">Шкатулки, книги-сейфы, ключницы</option>
                    <option value="Мебель, глобус-бары" data-subtext="17">Мебель, глобус-бары</option>
                    <option value="Барометры" data-subtext="5">Барометры</option>
                    <option value="Корабли" data-subtext="4">Корабли</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-100">
                <p>range input</p>
                {{mixins.inputRange()}}
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col col-50">
                {{ mixins.rating(
                	[
    	                {
    	                	link: true,
    	                	text: '2 Отзыва'
    	                },
    	                {
    	                	text: '12 просмотров'
    	                },
    	                {
    	                	text: 'Артикул: 45675'
    	                }
    	            ]
            	) }}
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col col-100">
                {{ mixins.checkbox("С фото") }}
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            {% for checkedbtn in[
                {
                    text: "Выбран"
                }
            ] %}
                <div class="col col-50">
                    {{ mixins.checkedbtn(checkedbtn) }}
                </div>
            {% endfor %}
        </div>
        <div class="row" style="margin-top: 20px;">
            {{ mixins.radiotab({ 
            	title1: "Самовывоз из магазина", 
            	dscr1: "Бесплатно", 
            	title2: "Доставка домой или в офис",
            	dscr2: "от 100 ₽ " 
            }) }}
        </div>
        <div class="row" style="margin-top: 20px;">
            {{ mixins.radiobtn({ title1: 'Список', title2: 'Карта' }) }}
        </div>
        <div class="row" style="margin-top: 20px;">
            {{ mixins.newsearch("Город, адрес, название ТЦ") }}
        </div>
		<div class="row" style="margin-top: 20px;">
			{{ mixins.likebtn() }}
		</div>
		<!-- ******************************* Order ******************************* -->

		<div class="title text-center" style="margin-top: 20px;">Order</div>
		<div class="row" style="margin-top: 20px;">
			{% for table in [
				{
					thTitle1: "Магазин",
					thTitle2: "Дата самовывоза",
					listRow: [
						{
							tdTitle1: "Континент 2",
							tdDscpt1: "70 лет Октября,25 к.2 ", 
							tdTitle2: " Сегодня с 17: 00 ", 
							tdDscpt2: " пн–вс 10: 00 –21: 00 "
						},
						{
							tdTitle1: "Континент 2",
							tdDscpt1: "70 лет Октября,25 к.2 ", 
							tdTitle2: " Сегодня с 17: 00 ", 
							tdDscpt2: " пн–вс 10: 00 –21: 00 "
						},
						{
							tdTitle1: "Континент 2",
							tdDscpt1: "70 лет Октября,25 к.2 ", 
							tdTitle2: " Сегодня с 17: 00 ", 
							tdDscpt2: " пн–вс 10: 00 –21: 00 "
						},
						{
							tdTitle1: "Континент 2",
							tdDscpt1: "70 лет Октября,25 к.2 ", 
							tdTitle2: " Сегодня с 17: 00 ", 
							tdDscpt2: " пн–вс 10: 00 –21: 00 "
						},
						{
							tdTitle1: "Континент 2",
							tdDscpt1: "70 лет Октября,25 к.2 ", 
							tdTitle2: " Сегодня с 17: 00 ", 
							tdDscpt2: " пн–вс 10: 00 –21: 00 "
						},
						{
							tdTitle1: "Континент 2",
							tdDscpt1: "70 лет Октября,25 к.2 ", 
							tdTitle2: " Сегодня с 17: 00 ", 
							tdDscpt2: " пн–вс 10: 00 –21: 00 "
						}
					]
				}
			] %}
				{{ mixins.table({ 
					thTitle1: table.thTitle1, 
					thTitle2: table.thTitle2, 
					listRow: table.listRow
				}) }}
			{% endfor %}
		</div>
		<div class="row" style="margin-top: 20px;">
			{% for tablepay in[
				{
					text: "Наличный расчет при получении в магазине",
					link: "Подробнее",
					textBtn: "Выбрать"
				},
				{
					text: "Наличный расчет при получении в магазине",
					link: "Подробнее",
					textBtn: "Выбрать"
				}
			]%}
					{{ mixins.tablepay({ 
				text: tablepay.text, 
				link: tablepay.link, 
				textBtn: tablepay.textBtn }) 
			}}
			{% endfor %}
		</div>
		<div class="row" style="margin-top: 20px;">
			{% for newtablepay in[
				{
					text: "Наличный расчет при получении в магазине",
					link: "Подробнее",
					textBtn: "Выбрать"
				},
				{
					text: "Наличный расчет при получении в магазине",
					link: "Подробнее",
					textBtn: "Выбрать"
				}
			]%}
					{{ mixins.newtablepay({ 
				text: newtablepay.text, 
				link: newtablepay.link, 
				textBtn: newtablepay.textBtn }) 
			}}
			{% endfor %}
		</div>
		<div class="row">
			{% for modtablepay in[
				{
					text: "Наличный расчет при получении в магазине",
					link: "Подробнее",
					textBtn: "Выбрать"
				},
				{
					text: "Наличный расчет при получении в магазине",
					link: "Подробнее",
					textBtn: "Выбрать"
				}
			]%}
			{{ mixins.modtablepay({ 
				text: modtablepay.text, 
				link: modtablepay.link, 
				textBtn: modtablepay.textBtn }) 
			}}
			{% endfor %}
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-100">
				{{ mixins.price({
					price: "1000 ₽",
					text: "Цена для Вас"
				}) }}
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-100">
				{{ mixins.price({
			       	class: 'price_old',
					price: "1000 ₽",
					text: "Цена для Вас"
				}) }}
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-100">
				{{ mixins.iconlink('location', 'Розничная цена') }}
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-100">
				{{ mixins.iconlink('share-variant', 'Поделиться с друзьями') }}
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-33">
				{{ mixins.product({
					action: "true",
					srcImg: "annie-spratt.jpg",
					altImg: "annie-spratt",
					price: "1000 ₽",
					priceOld: "1400 ₽",
					nameText: "Наименование товара",
					textBtn: "В корзину"
				}) }}
			</div>	
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col col-33" style="margin-top: 20px;">{{order.ordered_shop()}}</div>
			<div class="col col-33" style="margin-top: 20px;">{{order.self_delivery()}}</div>
			<div class="col col-33" style="margin-top: 20px;">{{order.basket_ref()}}</div>
			<div class="col col-33" style="margin-top: 20px;">{{order.basket_1()}}</div>
			<div class="col col-33" style="margin-top: 20px;">{{order.self_delivery_payment(null)}}</div>
			<div class="col col-33" style="margin-top: 20px;">{{order.self_delivery_payment(type=true)}}</div>
			<div class="col col-33" style="margin-top: 20px;">{{order.confirmation()}}</div> 
			<div class="col col-33" style="margin-top: 20px;">{{order.basket_2()}}</div> 
		</div>

		{# ================ CATALOG ==iv>=================== #}
		<div class="row" style="margin-top: 20px;">
            <div class="col-100 col">
				{% include "partials/catalog/_filter.html" %}
			</div>
		</div>

	</div>


		
{% endblock %}