{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro articleSmall(props) %}
<!-- begin article -->
<div class="article article_sm">
	<div class="article__img">
		<img src="./img/{{ props.img }}" alt="img">
	</div>
	<div class="article__wrap">
		<div class="article__tags tags">
			{% for tag in props.tags %}
			<a href="#" class="tag{% if tag.class %} {{tag.class}}{% endif %}">{{ tag.text }}</a>
			{% endfor %}
		</div>
		<a href="#" class="article__title-md {{ props.class or 'title-md'}}">{{ props.title }}</a>
		<div class="article__text">{{ props.text }}</div>
	</div>
</div>
<!-- end article -->
{% endmacro %}

{% macro article(props) %}
<!-- begin article -->
<div class="article">
	<div class="article__img">
		<img src="./img/{{ props.img }}" alt="img">
	</div>
	<div class="article__wrap">
		<div class="article__head">
			<a href="#" class="article__title title">{{ props.title }}</a>
			<div class="article__button">
				<a href="#" class="btn btn_sm btn_bord btn_anim">
					<span class="btn__text">Все статьи</span>
					<span class="btn__icon">
						<svg class="icon icon-arrow-right"><use xlink:href="img/sprite.svg#icon-arrow-right"></use></svg>
					</span>
				</a>
			</div>
		</div>
		<div class="article__text">{{ props.text }}</div>
		{% if props.notice %}
		<a href="#" class="notice">
			<svg class="icon icon-bell"><use xlink:href="img/sprite.svg#icon-bell"></use></svg>
			<span class="notice__text">Подключить уведомления</span>
		</a>
		{% endif %}
	</div>
</div>
<!-- end article -->
{% endmacro %}

{% macro post(props) %}
<!-- begin post -->
<div class="post">
	<div class="post__head">
		<div class="post__user">
			<!-- begin user -->
			<a href="#" class="user">
				<span class="user__img" style="background-image: url(./img/{{ props.userLogo or 'rodolfo-sanches-carvalho-1.jpg' }});"></span>
				<span class="user__name">{{ props.userName or 'KaterinaMihaylova' }}</span>
			</a>
			<!-- end user -->
		</div>
		<div class="post__button">
			<a href="#" class="btn btn_xs btn_blue btn_rad">Подписаться</a>
		</div>
	</div>
	<div class="post__img" style="background-image: url(./img/{{ props.img or 'living-room-3.png' }});"></div>
	<div class="post__body">
		<div class="post__soc">
			<div class="post__soc-top">
				<ul class="soc">
					<li class="soc__item">
						<a href="#" class="soc__link"><svg class="icon icon-heart-outline"><use xlink:href="img/sprite.svg#icon-heart-outline"></use></svg></a>
					</li>
					<li class="soc__item">
						<a href="#" class="soc__link"><svg class="icon icon-comment"><use xlink:href="img/sprite.svg#icon-comment"></use></svg></a>
					</li>
				</ul>
			</div>
			<div class="post__info">45 отметок «Нравится»</div>
		</div>
		<div class="post__share">
			<a href="#" class="share"><svg class="icon icon-share"><use xlink:href="img/sprite.svg#icon-share"></use></svg></a>
		</div>
	</div>
	<div class="post__footer">
		<div class="post__time">1 неделю назад</div>
		<a href="#" class="post__inst"><svg class="icon icon-instagram"><use xlink:href="img/sprite.svg#icon-instagram"></use></svg></a>
	</div>
</div>
<!-- end post -->
{% endmacro %}
<!-- ------------------------------ BASKET ------------------------------ -->
{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.first %}
		<li class="breadcrumbs__item">
			<a href="#"><svg class="icon icon-chevron-left"><use xlink:href="img/sprite.svg#icon-chevron-left"></use></svg>{{ item }}</a>
		</li>
		{% else %}
			{% if loop.last %}
			<li class="breadcrumbs__item">
				<span>{{ item }}</span>
			</li>
			{% else %}
			<li class="breadcrumbs__item">
				<a href="#">{{ item }}</a>
			</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro theadsimple(props) %}
<!-- begin baskethead -->
<div class="headsimple">
	<h2 class="headsimple__title title">{{ props.title or 'Ваша корзина' }}{% if props.product %} <span class="headsimple__product">{{ props.product }}</span>{% endif %}</h2>
	{% if props.link %}
	<div class="headsimple__right">
		<a href="#" class="headsimple__link">{{ props.link }}</a>
	</div>
	{% endif %}
</div>
<!-- end baskethead -->
{% endmacro %}

{% macro basketlist(props) %}
<!-- begin basketlist -->
<ul class="basketlist">
	{% for item in props.list %}
	<li class="basketlist__item{% if loop.index === props.active %} is-active{% endif %}">
		<span class="basketlist__icon">
			<svg class="icon icon-{{ item.icon }}"><use xlink:href="img/sprite.svg#icon-{{ item.icon }}"></use></svg>
		</span>
		<span class="basketlist__title">{{ item.title }}</span>
	</li>
	{% endfor %}
</ul>
<!-- end basketlist -->
{% endmacro %}

{% macro like(class) %}
<!-- begin like -->
<label class="like{% if class %} {{ class }}{% endif %}">
	<input type="checkbox">
	<svg class="icon icon-heart-outline"><use xlink:href="img/sprite.svg#icon-heart-outline"></use></svg>
	<svg class="icon icon-heart"><use xlink:href="img/sprite.svg#icon-heart"></use></svg>
	<span class="like__lines"></span>
</label>
<!-- end like -->
{% endmacro %}

{% macro likebtn() %}
<!-- begin likebtn -->
<label class="btn-like">
	<span class="like">
		<input type="checkbox">
		<svg class="icon icon-heart-outline"><use xlink:href="img/sprite.svg#icon-heart-outline"></use></svg>
		<svg class="icon icon-heart"><use xlink:href="img/sprite.svg#icon-heart"></use></svg>
		<span class="like__lines"></span>
	</span>
</label>
<!-- end likebtn -->
{% endmacro %}

{% macro card(props) %}
<!-- begin card -->
<div class="card{% if props.class %} {{ props.class }}{% endif %}">
	<div class="card__img-wrap">
		<div class="card__img"{% if props.img %} style="background-image: url(./img/{{ props.img }});"{% endif %}>
			{% if props.action %}
			<div class="price-below price-below_action js-drop js-price-below">
				<div class="action-block js-open-drop">%</div>
				<div class="price-below__drop js-drop-hidden">
					<div class="price-below__info">
						<p>Наши держатели карт получают возможность покупать товар по акциям.</p>
						<p>Совершите первую покупку на любую сумму и получите карту Члена Клуба в подарок.</p>
					</div>
					<div class="price-below__fotter">
						{{ price({
							class: "price_red",
							price: "1000 ₽",
							text: "Розничная цена"
						}) }}
					</div>
				</div>
			</div>
			{% endif %}
			{% if props.cardClub %}
			<div class="card__club-card">
				<div class="card__club-text">Карта клуба</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="card__wrap">
		<div class="card__table">
			<div class="card__center">
				<div class="card__vendorcode vendorcode">{{ props.article or 'Артикул: 45678' }}</div>
				<a href="#" class="card__title">{{ props.title or 'Ваза из стекла с разноцветным узором' }}</a>
				{% if props.quantity %}
				<div class="card__quantity">
					<span class="card__quantity-text">Кол–во:</span>
					{% if props.quantity.select %}
					<div class="card__seclect">
						<select class="select select_bord js-select" 
						{% if props.quantity.select.multiple %} multiple{% endif %}
						{% if props.quantity.select.actions %} data-actions-box="true"{% endif %}
						data-width="{{ props.quantity.select.width or '100%'}}">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					{% else %}
					<span class="card__size">1</span>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<div class="card__right">
				{% if props.price %}
				<div class="card__price">
					<span>{{ props.price or '1000 ₽' }}</span>
					{% if props.priceOld %}<span class="is-old">{{ props.price or '1400 ₽' }}</span>{% endif %}
				</div>
				{% endif %}
				{% if props.benefit %}<div class="card__benefit">Ваша выгода 400 ₽</div>{% endif %}
			</div>
		</div>
		<div class="card__footer">
			{% if props.btnClose !== false %}
			<button class="card__close" type="button"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#icon-close"></use></svg></button>
			{% endif %}
			{% if props.like %} {{like('card__like')}} {% endif %}
			{% if props.subscribe %}
			<a href="#" class="card__subscribe subscribe-link">
				<svg class="icon icon-email-outline"><use xlink:href="img/sprite.svg#icon-email-outline"></use></svg>
				<span>Подписаться</span>
			</a>
			{% endif %}
			{% if props.availability %}<div class="card__availability">{{ props.availability }}</div>{% endif %}
		</div>
	</div>
</div>
<!-- end card -->
{% endmacro %}

{% macro product(props) %}
<div class="product{% if props.class %} {{props.class}}{% endif %}">
	<div class="product__img">
		{% if props.action %}
		<div class="price-below price-below_action js-drop js-price-below">
			<div class="action-block js-open-drop">%</div>
			<div class="price-below__drop js-drop-hidden">
				<div class="price-below__info">
					<p>Наши держатели карт получают возможность покупать товар по акциям.</p>
					<p>Совершите первую покупку на любую сумму и получите карту Члена Клуба в подарок.</p>
				</div>
				<div class="price-below__fotter">
					{{ price({
						class: "price_red",
						price: "1000 ₽",
						text: "Розничная цена"
					}) }}
				</div>
			</div>
		</div>
		{% endif %}
		<img src="img/{{ props.srcImg }}" alt="{{ altImg }}">
	</div>
	<div class="product__wrap">
		<div class="product__name">
			{{ props.nameText }}
		</div>
		<div class="product__price{% if props.priceRed %} product__price_red{% endif %}">
			<span>{{ props.price }}</span>
			<span class="is-old">{{ props.priceOld }}</span>
		</div>
        {% if props.expireTime %}
            <div class="product__expire">
                {{icon('clock-outline')}}
                <span>{{props.expireTime}}</span>
            </div>
        {% endif %}
		<div class="product__footer">
			<button type="button" class="product__btn btn" type="button">
			{{ icon('shopping-bag') }}
			{{ props.textBtn }}
			</button>
			{% if props.likebtn !== false %}
			<div class="product__like">
				{{ likebtn() }}
			</div>
			{% endif %}
		</div>	
	</div>
</div>
{% endmacro %}

{% macro notavailable(props) %}
<!-- begin notavailable -->
<div class="notavailable js-drop">
	<div class="notavailable__text js-drop-shows">
		<svg class="notavailable__icon icon icon-warning"><use xlink:href="img/sprite.svg#icon-warning"></use></svg>
		К сожалению, некоторых товаров из корзины больше нет в наличии.
	</div>
	<div class="notavailable__button">
		<button class="btn btn_md btn_bord btn_bord-gray js-open-drop" type="button" data-text-open="Показать" data-text-close="СВЕРНУТЬ"><span class="btn__text js-drop-btn-text">Показать</span></button>
	</div>
	<div class="notavailable__wrap js-drop-hidden">
		{% if props.cardList %}
            {% for item in props.cardList %}
                {{ card({
                	class: item.class,
					img: item.img,
					price: item.price,
					priceOld: item.priceOld,
					benefit: item.benefit,
					like: item.like,
					subscribe: item.subscribe,
					availability: item.availability
				}) }}
            {% endfor %}
		{% endif %}
	</div>
</div>
<!-- end notavailable -->
{% endmacro %}
<!-- ------------------------------ END BASKET ------------------------------ -->





<!-- ------------------------------ CARDS ------------------------------ -->
{% macro cardcatalog(props) %}
<!-- Start card-catalog -->
<a href="#" class="card-catalog">
	<div class="card-catalog__img img-bg" style="background-image: url(./img/{{ props.img }});">
	</div>
	<div class="card-catalog__wrap">
		<h4 class="card-catalog__title">{{ props.title }}</h4>
	</div>
</a>
<!-- End card-catalog -->
{% endmacro %}

{% macro cardcollection(props) %}
<!-- Start card-collection -->
<div class="card-collection">
	<div class="card-collection__left-col">
		<div class="card-collection__img img-bg" style="background-image: url(./img/{{ props.img }});">
		</div>
	</div>
	<div class="card-collection__right-col">
		<div class="head">
			<h2 class="title">{{ props.title }}</h2>
			<a href="#" class="head__btn btn btn_md btn_bord btn_anim">
				<span class="btn__text">Смотреть</span>
				<span class="btn__icon">
					{{icon('arrow-right')}}
				</span>
			</a>
		</div>
	</div>
</div>
<!-- End card-catalog -->
{% endmacro %}

{% macro cardarticle(props) %}
<!-- Start card-article -->
<a href="#" class="card-article">
	<div class="card-article__img img-bg" style="background-image: url(./img/{{ props.img }});">
		<h5 class="card-article__title title">{{ props.title }}</h5>
		{% for tag in props.tags %}
		<span class="tag{% if tag.class %} {{tag.class}}{% endif %}">{{ tag.text }}</span>
		{% endfor %}
	</div>
</a>
<!-- End card-article -->
{% endmacro %}
<!-- ------------------------------ END CARDS ------------------------------ -->

{% macro rating(list,value,class,jsClass,text) %}
<!-- Start rating -->
<div class="rating-stars{% if class %} {{ class }}{% endif %}">
	<div class="rating-stars__input">
		<input type="hidden" id="stars" class="rating-stars__input rating {{ jsClass or 'js-rating' }}" value="{{ value or '4.5' }}" data-fractions="10"/>
	</div>
	{% if list %}
	<div class="rating-stars__wrap">
		{% for item in list %}
			{% if item.link %}
				<a href="#" class="rating-stars__text">{{ item.text }}</a>
			{% else %}
				<span class="rating-stars__text">{{ item.text }}</span>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	{% if text %}
	<span class="rating-stars__value">
		{{ value }}
	</span>
	{% endif %}
</div>
<!-- End rating -->
{% endmacro %}

{% macro checkbox(text, radio, checked) %}
<!-- Start checkbox -->
<label class="toggler">
	<input type="{{radio or 'checkbox'}}" name="checkbox"{% if checked %} checked{% endif %}>
	<span class="toggler__text">{{ text }}</span>
</label>
<!-- End checkbox -->
{% endmacro %}

{% macro checkedbtn(props) %}
<!-- Start checked-btn -->
<label class="checked-btn {% if props.modifier %}{{props.modifier}}{% endif %}">
	<input type="{{ props.type or 'radio' }}" name="checkbox-btn" data-validation="required">
	<span class="checked-btn__text">{{ props.text or 'Выбрать' }}</span>
	<span class="checked-btn__text checked-btn__text_checked">{{ props.text or 'Выбран' }}</span>
</label>
<!-- End checked-btn -->
{% endmacro %}



<!-- ------------------------------ TABLE ------------------------------ -->

{% macro table(props) %}
<!-- Start table -->
<div class="table">
	{% if props.thTitle1 %}
	<div class="table__head">
		<div class="table__row">
			<div class="table__cell">
				{{ props.thTitle1 }}
			</div>
			<div class="table__cell">
				{{ props.thTitle2 }}
			</div>
			<div class="table__cell">
			</div>
		</div>
	</div>
	{% endif %}
	<div class="table__body">
		{% for row in props.listRow %}
		<div class="table__row">
			<div class="table__cell" data-title="{{ props.thTitle1 }}">
				<span class="table__text table__text_up">
					{{ row.tdTitle1 }}
				</span>
				<span class="table__text">
					{{ row.tdDscpt1 }}
				</span>
			</div>
			<div class="table__cell" data-title="{{ props.thTitle2 }}">
				<span class="table__text table__text_up">
					{{ row.tdTitle2 }}
				</span>
				<span class="table__text">
					{{ row.tdDscpt2 }}
				</span>
			</div>
			<div class="table__cell">
				{{ checkedbtn({ loopIndex: loop.index }) }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- End table -->
{% endmacro %}

{% macro tablepay(props) %}
<!-- Start table -->
<div class="table-pay">
	<div class="table-pay__body">
		<div class="table-pay__row">
			<div class="table-pay__left-col">
				<span class="table-pay__text">
					{{ props.text }}
				</span>
				<a href="#" class="table-pay__link">
					{{ props.link }}
				</a>
			</div>
			<div class="table-pay__right-col">
				{{ checkedbtn() }}
			</div>
		</div>
	</div>
</div>
<!-- End table -->
{% endmacro %}

{% macro newtablepay(props) %}
<!-- Start table -->
<div class="table-pay">
	<div class="table-pay__body">
		<div class="table-pay__row">
			<div class="table-pay__left-col">
				<div class="table-pay__icon-block">
					<div class="table-pay__icon">
						<img src="./img/visa.png" alt="visa">
					</div>
					<div class="table-pay__icon">
						<img src="./img/peace.png" alt="peace">
					</div>
					<div class="table-pay__icon">
						<img src="./img/mastercard.png" alt="mastercard">
					</div>
					<div class="table-pay__icon">
						<img src="./img/group.png" alt="group">
					</div>
				</div>
				<span class="table-pay__text">
					{{ props.text }}
				</span>
				<a href="#" class="table-pay__link">
					{{ props.link }}
				</a>
			</div>
			<div class="table-pay__right-col">
				{{ checkedbtn() }}
			</div>
		</div>
	</div>
</div>
<!-- End table -->
{% endmacro %}

{% macro modtablepay(props) %}
<!-- Start table -->
<div class="table-pay">
	<div class="table-pay__body">
		<div class="table-pay__row">
			<div class="table-pay__left-col">
				<div class="table-pay__icon-block">
					<div class="table-pay__icon table-pay__icon_mod">
						<img src="./img/yandex.png" alt="yandex">
					</div>
				</div>
				<span class="table-pay__text">
					{{ props.text }}
				</span>
				<a href="#" class="table-pay__link">
					{{ props.link }}
				</a>
			</div>
			<div class="table-pay__right-col">
				{{ checkedbtn() }}
			</div>
		</div>
	</div>
</div>
<!-- End table -->
{% endmacro %}

<!-- ------------------------------ END TABLE ------------------------------ -->

{% macro radiotab(props) %}
<!-- Start radio-tab -->
<div class="radio-tab">
	<label class="radio-tab__label js-radio-tab is-active">
		<input type="radio" name="radio-tab" checked>
		<span class="radio-tab__inner">
			<span class="radio-tab__title">{{ props.title1 }}</span>
			<span class="radio-tab__dscr">{{ props.dscr1 }}</span>
		</span>
	</label>
	<label class="radio-tab__label js-radio-tab">
		<input type="radio" name="radio-tab">
		<span class="radio-tab__inner">
			<span class="radio-tab__title">{{ props.title2 }}</span>
			<span class="radio-tab__dscr">{{ props.dscr2 }}</span>
		</span>
	</label>
</div>
<!-- End radio-tab -->
{% endmacro %}

{% macro radiobtn(props) %}
<!-- Start radio-btn -->
<div class="radio-btn">
	<label class="radio-btn__label js-radio-tab is-active">
		<input type="radio" name="radio-btn">
		<span class="radio-btn__icon">{{ icon('format-list-bulleted') }}</span>
		<span class="radio-btn__title">{{ props.title1 }}</span>
	</label>
	<label class="radio-btn__label js-radio-tab">
		<input type="radio" name="radio-btn">
		<span class="radio-btn__icon">{{ icon('map') }}</span>
		<span class="radio-btn__title">{{ props.title2 }}</span>
	</label>
</div>
<!-- End radio-btn -->
{% endmacro %}

{% macro newsearch(placeholder) %}
<!-- Start new-search -->
<div class="new-search">
	<label class="new-search__label">
		<input class="new-search__input" type="text" name="new-search" placeholder="{{ placeholder }}">
		<button type="button" class="new-search__btn">{{ icon('search') }}</button>
	</label>
</div>
<!-- End new-search -->
{% endmacro %}

<!-- ------------------------------ PRICE ------------------------------ -->

{% macro price(props) %}
<!-- Start price -->
<div class="price{% if props.class %} {{ props.class }}{% endif %}">
	<span class="price__number">
		{{ props.price }}
	</span>
	<span class="price__text">{{ props.text }}</span>
</div>
<!-- End price -->
{% endmacro %}

{% macro iconlink(img, text) %}
<a href="#" class="iconlink">
	<span class="iconlink__icon">
		{{ icon(img) }}
	</span>
	<span class="iconlink__text">{{ text }}</span>
</a>
{% endmacro %}
<!-- ------------------------------ END PRICE ------------------------------ -->

<!-- ------------------------------ START FORM ------------------------------ -->
{% macro control(props) %}
<div class="form-control{% if props.class %} {{ props.class }}{% endif %} js-form-control">
	<input class="input" type="{{ props.type or 'text' }}" {% if props.value %}value="{{props.value}}"{% endif %} {% if props.placeholder %}placeholder="{{ props.placeholder }}"{% endif %} {% if props.required %} data-validation="required"{% endif %} {% if props.phoneMask %} data-inputmask="'mask': '+7 (999) 999 – 99 – 99'" data-inputmask-placeholder=""{% endif %}>
	{{ icon('check') }}
	{% if props.tooltip %}<div class="form-tooltip">{{ props.tooltip | safe }}</div>{% endif %}
</div>
{% endmacro %}
<!-- ------------------------------ END form ------------------------------ -->

{% macro inputRange() %}
    <div class="dropdown dropdown-range">
    <a class="dropdown-toggle btn-light" href="#" role="button" id="dropdownRangeLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Цена
    </a>
    <div class="dropdown-menu dropdown-menu-range js-range-container" aria-labelledby="dropdownRangeLink">
        <div class="dropdown-menu__row">
            <span>Диапазон цен</span>
            <button type="button" class="js-range-reset btn-reset">
                {{icon('refresh')}}
                <span>Сбросить</span>
            </button>
        </div>
        <div class="dropdown-menu__row">
            <div class="dropdown-menu__input">
                <input type="text" class="input input_range js-range-min js-range-input">
                <span class="input-addon">
                    от
                </span>
            </div>
            <div class="dropdown-menu__input">
                <input type="text" class="input input_range js-range-max js-range-input">
                <span class="input-addon">
                    до
                </span>
            </div>

        </div>
        <div class="dropdown-menu__row dropdown-menu__row_slider">
            <div class="js-range-slider range-slider" data-range-max="48900" data-range-min="199" data-range-start="199" data-range-end="48900"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro magazineTop(props) %}
<div class="magazine-top">
	<div class="magazine-top__tags tags">
		{% for tag in props.tags %}
		<a href="#" class="tag{% if tag.class %} {{tag.class}}{% endif %}">{{ tag.text }}</a>
		{% endfor %}
	</div>
	<h1 class="magazine-top__title title text-center">{{ props.title }}</h1>
	<div class="magazine-top__details">
		<div class="magazine-top__date magazine-top__item">
			{{ icon('calendar-clock') }}
			<span class="article-date">
				22 МАЯ, 16:50
			</span>
		</div>
		<div class="magazine-top__comments magazine-top__item">
			{{ icon('comment-text-outline') }}
			<span class="article-date">
				3
			</span>
		</div>
		<div class="magazine-top__views magazine-top__item">
			{{ icon('eye-outline') }}
			<span class="article-date">
				145
			</span>
		</div>
		<div class="magazine-top__likes magazine-top__item">
			{{ icon('heart-outline') }}
			<span class="article-date">
				124
			</span>
		</div>
	</div>
	<div class="magazine-top__text text-center">
		{{ props.text }}
	</div>
	<div class="magazine-top__social">
		<div class="social text-center">
			{% for name in ["email", "vk", "facebook", "odnoklassniki", "twitter", "google-plus", "mail-ru"] %}
			<a href="#" class="social__link social__link_{{name}}">{{ icon(name) }}</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endmacro %}

{% macro magazineImg(img, text, center) %}
	<div class="magazine-img{%if center%} text-center{%endif%}">
		<img src="./img/{{ img }}" alt="img">
		{%if text%}
			<span class="magazine-img__text">Здесь возможен какой-то короткий текст пояснение</span>
		{%endif%}
	</div>
{% endmacro %}

{% macro magazineParagraph(props) %}
	<div class="magazine-paragraph">
		<h2 class="title-simple">
			{{ props.subtitle }}
		</h2>
		{% for p in props.text %}
		<p>
			{{ p }}
		</p>
		{% endfor %}
	</div>
{% endmacro %}

{% macro magazineBottom(props) %}
	<div class="magazine-bottom">
		<div class="magazine-bottom__left">
			<div class="tags">
				{% for tag in props.tags %}
				<a href="#" class="tag{% if tag.class %} {{tag.class}}{% endif %}">{{ tag.text }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="magazine-bottom__right">
			<span class="article-date">
				22 МАЯ, 16:50
			</span>
			<span class="article-author">
				<span class="article-author__title">Автор статьи</span>
				Надежда Поперечная
			</span>
		</div>
	</div>
{% endmacro %}

{% macro magazineFooter(test) %}
	<div class="magazine-footer">
		<div class="inner-sm">
			<div class="row magazine-footer__row">
				<div class="col col-40 col-md-100 magazine-footer__col">
					<div class="magazine-footer__title">
						РАССКАЗАТЬ ДРУЗЬЯМ
					</div>
					<div class="social">
						{% for name in ["email", "vk", "facebook", "odnoklassniki", "twitter", "google-plus", "mail-ru"] %}
						<a href="#" class="social__link social__link_sm social__link_{{name}}">{{ icon(name) }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="col col-30 col-md-100 magazine-footer__col">
					<div class="magazine-footer__title">
						ОЦЕНИТЬ СТАТЬЮ
					</div>
					{{ rating(false,3.6,"rating-stars_xl",false,true) }}
					<div class="magazine-footer__votes">
						4 голоса
					</div>
				</div>
				<div class="col col-30 col-md-100 magazine-footer__col">
					<div class="magazine-footer__btn">
						<a href="#" class="btn btn_w-md btn_bord btn_bord-silver">
							<svg class="icon icon-heart-outline"><use xlink:href="img/sprite.svg#icon-heart-outline"></use></svg>
							<span class="btn__text">ДОБАВИТЬ В ИЗБРАННОЕ</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro similarArticle(props) %}
	<h2 class="title text-center">{{ props.title }}</h2>
	<div class="row">
		{% for article in props.articles %}
		<div class="col col-33 col-sm-100">
			{{ articleSmall({
				img: article.img,
				tags: article.tags,
				title: article.title,
				text: article.text
			}) }}
		</div>
		{% endfor %}
	</div>
{% endmacro %}

{% macro cabinetList(props) %}
<!-- begin cabinet-list -->
<div class="cabinet-list"> 
    <div class="js-nav-links-current cabinet-list__toggler">
        <div class="cabinet-list__item">
            <span class="cabinet-list__link">
                {{props.currentText}}
            </span>
        </div>
    </div> 
    <ul class="cabinet-list__nav">
		{% for item in [
			{
				text: 'Личные данные'
			},
			{
				text: 'Сообщения',
				quantity: '3',
				info: true
			},
			{
				text: 'История покупок'
			},
			{
				text: 'Персональные предложения',
				info: true
			},
			{
				text: 'Избранное'
			},
			{
				text: 'Клубная карта'
			},
            {
				text: 'Пригласить друзей'
			},
            {
				text: 'Выйти'
			}
		] %}
		<li class="cabinet-list__item{% if props.active === loop.index %} is-active{% endif %}{% if item.info %} has-info{% endif %}">
			<a href="#" class="cabinet-list__link">{{ item.text }}{% if item.quantity %}<span class="cabinet-list__quantity">{{ item.quantity }}</span>{% endif %}</a>
		</li>
		{% endfor %}
	</ul>
</div>
<!-- end cabinet-list -->
{% endmacro %}

{% macro shoppingCard(props) %}
	<div class="shopping-card">
		{% if props.online %}
		<div class="shopping-card__header">
				<div class="shopping-card__number">{{props.number}}</div>
				<div class="shopping-card__info">
					{{icon('information')}}
				</div>
			<a href="#" class="tag tag_turquoise">НОВЫЙ ЗАКАЗ</a>
			<div class="shopping-card__reset">
				<button class="btn btn_underline">Отменить заказ</button>
			</div>
			<div class="shopping-card__price">{{props.price}}</div>
			<div class="shopping-card__time">{{props.time}}</div>
			{% else  %}
		<div class="shopping-card__header shopping-card__header_offline">
			<div class="shopping-card__time">{{props.time}}</div>
			<div class="shopping-card__price">{{props.price}}</div>
			{% endif %}
		</div>
		<div class="js-drop shopping-card__main">
			<div class="shopping-card__dropdown js-drop-hidden" style="display: none;">
				<div class="shopping-card__full-info">
					<div class="shopping-info">
						{% for item in props.info %}
							<div class="shopping-info__header">
								{{item.header}}
							</div>
							<div class="shopping-info__content{% if item.modifier %} {{item.modifier}}{% endif %}">
								{{item.content}}
								{% if item.info %}
									{{icon('information')}}
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="shopping-card__dropdown-title">
					<span>{{props.ddTitle}}</span>
					<a href="#" class="btn btn_md btn_shopping btn_bord{% if props.online %} btn_bord-silver{% endif %} js-close-drop">
							<span class="btn__text js-drop-btn-text">Скрыть</span>
						</a>
				</div>
				{% for item in props.cards %}
					{{ card({
						class: "card_bord card_shopping",
						img: item.img,
						price: "1000 ₽",
						btnClose: false,
						quantity: true
					}) }}
				{% endfor %}
				</div>
			<div class="shopping-card__default">
				<div class="shopping-card__total-hidden">
					<span class="text-gray">{{props.itemsNumber}} товаров на сумму</span> 
					<span class="shopping-card__hidden-price">{{props.price}}</spamn>
				</div>
				<div class="shopping-card__previews">
					{% for item in props.previews %}
						<a href="{{item.link}}" class="shopping-card__preview" 	style="background-image: url(./img/{{item.image}});"></a>
					{% endfor %}
					{% if props.anotherItems %}
					<a href="{{props.anotherItems.link}}" class="shopping-card__preview">
						<span class="shopping-card__another-purchases">
							+{{props.anotherItems.number}}
						</span>
					</a>
					{% endif %}
				</div>
				<a href="#" class="btn btn_md btn_shopping btn_bord{% if props.online %} btn_bord-silver{% endif %} js-open-drop" data-text-open="Подробнее" data-text-close="Скрыть">
					<span class="btn__text js-drop-btn-text">Подробнее</span>
				</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro loader() %}
	<div class="loader js-loader">
		<div class="loader__text-wrapper">
			<div class="loader__text">LOADER</div>
		</div>
		
	</div>
{% endmacro %}

