<!-- begin about -->
<div class="section">
	<div class="inner">
		<div class="row">
			<div class="col col-50 col-sm-100">
				<div class="search-map">
					<div class="search-map__form">
						<form action="/">
							<input type="text" class="search-map__input" placeholder="Искать магазин рядом с...">
							<button class="search-map__submit" type="submit">{{ mixins.icon('search') }}</button>
						</form>
					</div>
					<div class="search-map__container js-map" data-json="./json/search-map.json" data-center-lat="50.451767" data-center-lng="30.521038"></div>
				</div>
			</div>
			<div class="col col-50 col-sm-100">
				<div class="about text-center">
					<h2 class="about__title title">О компании</h2>
					<div class="about__text">
						<p>«Дары Востока» - магазины необычных подарков.</p>
						<p>Магазины для тех, кто хочет удивить и любит удивляться, кому просто необходимы вещи, несущие в себе хорошее настроение и возможность им делиться со всеми. Мы открываем Вам множество возможностей радовать близких, друзей, знакомых.</p>
					</div>
					<a href="#" class="link">Подробнее</a>
					<div class="about__img">
						<img src="./img/about-img.jpg" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end about -->
