<!-- begin quick-infos -->
<div class="quick-infos">
	<div class="quick-infos__inner inner">
		<!-- begin quick-infos -->
		<div class="quick-info">
			<div class="quick-info__wrap">
				<h1 class="tquick-info__title-md title-md">Добро пожаловать в клуб Дары востока</h1>
				<p>Данный текст будет кратким описанием особенностей и преимуществ клуба «Дары Востока» со слов Ольги Туркиной. Описание должно занимать не более трех строк текста и содержать ключевые моменты, которые зацепят пользователя </p>
			</div>
			<div class="quick-info__collaborator">
				<!-- begin collaborator -->
				<div class="collaborator">
					<div class="collaborator__img" style="background-image: url(./img/beautiful-book.jpg);"></div>
					<div class="collaborator__wrap">
						<div class="collaborator__name">Ольга Туркина</div>
						<p>Управляющая развитием розничного направления ООО «Дары Востока»</p>
					</div>
				</div>
				<!-- end collaborator -->
			</div>
		</div>
		<!-- end quick-infos -->
	</div>
</div>
<!-- end quick-infos -->