{% set
list = [
    {
        title: 'Item1'
    }, {
        title: 'Item2'
    }
] %}

{% set sidebar_list = [
    {
        single: true,
        title: "ИЗДЕЛИЯ ИЗ НАТУРАЛЬНЫХ КАМНЕЙ",
        link: "#"
    }, {
        title: "МУРАНСКОЕ СТЕКЛО"
    }, {
        title: "ПРЕДМЕТЫ ИНТЕРЬЕРА",
        isOpen: true,
        list: [
            {
                title: "Вазы",
                link: "#", 
                isActive: true
            }, {
                title: "Музыкальные ретро центры, ретро телефоны ",
                link: "#"
            }, {
                title: "Картины, декоративные тарелки",
                link: "#"
            }, {
                title: "Фоторамки",
                link: "#"
            }, {
                title: "Светильники",
                link: "#"
            }, {
                title: "Подсвечники",
                link: "#"
            }, {
                title: "Фонтаны",
                link: "#"
            }, {
                title: "Часы",
                link: "#"
            },
            {
                title: "Шкатулки, книги-сейфы, ключницы",
                link: "#"
            }, {
                title: "Мебель, глобус-бары",
                link: "#"
            }, {
                title: "Барометры",
                link: "#"
            }, {
                title: "Корабли",
                link: "#"
            }
        ]
    },
    {
        title: "ПИТЕВАЯ ПОСУДА, ФЛЯЖКИ, БОЧКИ ДЛЯ ВИНА"
    },
    {
        title: "ПОСУДА И СЕРВИРОВКА"
    },
    {
        title: "СТАТУЭТКИ, КУКЛЫ"
    },
    {
        title: "ПРИНАДЛЕЖНОСТИ ДЛЯ ПИСЬМА"
    },
    {
        title: "КАЛЬЯНЫ, <br> КУРИТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ"
    },
    {
        title: "ПИТЕВАЯ ПОСУДА, ФЛЯЖКИ, БОЧКИ ДЛЯ ВИНА"
    },
    {
        title: "НАСТОЛЬНЫЕ ИГРЫ"
    }, 
    {
        title: "СУВЕНИРНОЕ ОРУЖИЕ"
    },
    {
        title: "ФЭН–ШУЙ"
    },
    {
        title: "РЕЛИГИОЗНЫЕ ПОДАРКИ"
    },
    {
        title: "СУВЕНИРНЫЕ ИЗДЕЛИЯ, КОПИЛКИ, АНТИСТРЕССЫ"
    },
    {
        title: "СИМВОЛЫ ГОРОДА ОМСКА"
    }    
] %}