<div class="slider-watched md-hide js-slider-watched-wrap">
	<h4 class="slider-watched__title title">
		Вы смотрели
	</h4>
	<div class="slider-watched__slider js-slider-watched">
		{% for cardproduct in [
		{
			class: "product_simple",
			action: "true",
			srcImg: "annie-spratt.jpg",
			altImg: "annie-spratt",
			price: "1000 ₽",
			priceOld: "1400 ₽",
			nameText: "Наименование товара",
			textBtn: "В корзину",
			likebtn: false
		},
		{
			class: "product_simple",
			action: "true",
			srcImg: "annie-spratt.jpg",
			altImg: "annie-spratt",
			price: "1000 ₽",
			priceOld: "1400 ₽",
			nameText: "Наименование товара",
			textBtn: "В корзину",
			likebtn: false
		},
		{
			class: "product_simple",
			action: "true",
			srcImg: "annie-spratt.jpg",
			altImg: "annie-spratt",
			price: "1000 ₽",
			priceOld: "1400 ₽",
			nameText: "Наименование товара",
			textBtn: "В корзину",
			likebtn: false
		},
		{
			class: "product_simple",
			action: "true",
			srcImg: "annie-spratt.jpg",
			altImg: "annie-spratt",
			price: "1000 ₽",
			priceOld: "1400 ₽",
			nameText: "Наименование товара",
			textBtn: "В корзину",
			likebtn: false
		},
		{
			class: "product_simple",
			action: "true",
			srcImg: "annie-spratt.jpg",
			altImg: "annie-spratt",
			price: "1000 ₽",
			priceOld: "1400 ₽",
			nameText: "Наименование товара",
			textBtn: "В корзину",
			likebtn: false
		},
		{
			class: "product_simple",
			action: "true",
			srcImg: "annie-spratt.jpg",
			altImg: "annie-spratt",
			price: "1000 ₽",
			priceOld: "1400 ₽",
			nameText: "Наименование товара",
			textBtn: "В корзину",
			likebtn: false
		}
		] %}
		<div class="slider-watched__slide">
			{{ mixins.product({
				class: cardproduct.class,
				action: cardproduct.action,
				srcImg: cardproduct.srcImg,
				altImg: cardproduct.altimg,
				price: cardproduct.price,
				priceOld: cardproduct.priceOld,
				textBtn: cardproduct.textBtn,
				nameText: cardproduct.nameText,
				likebtn: false
			}) }}
		</div>
	{% endfor %}
	</div>
</div>