.icon-account {
  width: 0.9em;
  height: 1em;
  fill: currentColor;
}
.icon-approval {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-bell {
  width: 0.82em;
  height: 1em;
  fill: currentColor;
}
.icon-calendar-clock {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.31em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-down {
  width: 1.62em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-left {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-right {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-up {
  width: 1.62em;
  height: 1em;
  fill: currentColor;
}
.icon-clock-outline {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-comment-text-outline {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-email-outline {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-eye-closed {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-eye-opened {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-eye-outline {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}
.icon-format-list-bulleted {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
}
.icon-gift {
  width: 1.1em;
  height: 1em;
  fill: currentColor;
}
.icon-google-plus {
  width: 1.57em;
  height: 1em;
  fill: currentColor;
}
.icon-heart-outline {
  width: 1.09em;
  height: 1em;
  fill: currentColor;
}
.icon-heart {
  width: 1.09em;
  height: 1em;
  fill: currentColor;
}
.icon-home-map-marker {
  width: 1.18em;
  height: 1em;
  fill: currentColor;
}
.icon-information {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-location {
  width: 0.7em;
  height: 1em;
  fill: currentColor;
}
.icon-mail-ru {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-map-marker {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-map {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-minus {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-odnoklassniki {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-refresh {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-reply {
  width: 1.2em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 0.99em;
  height: 1em;
  fill: currentColor;
}
.icon-share-variant {
  width: 0.9em;
  height: 1em;
  fill: currentColor;
}
.icon-share {
  width: 0.85em;
  height: 1em;
  fill: currentColor;
}
.icon-shopping-bag {
  width: 0.81em;
  height: 1em;
  fill: currentColor;
}
.icon-shopping-full {
  width: 0.86em;
  height: 1em;
  fill: currentColor;
}
.icon-thumb-down-outline {
  width: 1.1em;
  height: 1em;
  fill: currentColor;
}
.icon-thumb-up-outline {
  width: 1.1em;
  height: 1em;
  fill: currentColor;
}
.icon-timer-sand {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: currentColor;
}
.icon-wallet {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
}
.icon-warning {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
